numpy>=1.4.0
scipy>=1.7.0
matplotlib>=3.5
astropy>=4.1rc1
tqdm>=4.25.0
uncertainties
corner
joblib
pandas>=1.3
psutil
h5py
ephem
astroquery
numpydoc
nbsphinx
statsmodels
pymc3
pyvo
seaborn
regex
requests
mwdust